<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <title>푸터 영역</title>
</head>
<body>
  <footer th:fragment="commonFooter" style="box-sizing: initial !important;">
    <div id="footer-text-wrapper">
        <ul class="menu-list">
            <li>고객센터</li>
            <li>공지사항</li>
            <li>이용약관</li>
            <li>개인정보 처리방침</li>
        </ul>

        <ul class="info-list">
            <li>마이버킷펫</li>
            <li>대표 : 박성환</li>
            <li>서울시 금천구 독산동 332-20 601호</li>
        </ul>

        <ul class="info-list" style="margin-bottom: 40px !important;">
            <li>mybucketpet@naver.com</li>
            <li>사업자 등록번호 : 000-00-00000</li>
        </ul>

        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <p style="color: #858E96; overflow: hidden; text-overflow: ellipsis; font-size: 12px; letter-spacing: -0.12px;">
            Copyright 2023. mybucketpet, Co., Ltd. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>