<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybucketpet.repository.bucket.BucketMapper">
    <insert id="saveBucket" useGeneratedKeys="true" keyProperty="bucketId">
        insert into mbp_bucket(bucket_title, bucket_contents, open_yn, recommend_yn)
             values (#{bucketTitle}, #{bucketContents}, #{openYn}, #{recommendYn})
    </insert>

    <insert id="saveThumbnail" useGeneratedKeys="true" keyProperty="thumbnail.thumbnailId">
        insert into mbp_thumbnail(thumbnail_filename, thumbnail_savename, bucket_id)
             values (#{thumbnail.thumbnailFilename}, #{thumbnail.thumbnailSavename}, #{bucketId})
    </insert>

    <insert id="saveTag">
        insert into mbp_tag(tag_id, bucket_id)
             values
                <foreach collection="tag" item="tag" separator=",">
                (#{tag.tagId}, #{bucketId})
                </foreach>
    </insert>

    <select id="findBucketById" resultType="Bucket">
        select bucket_id, bucket_title, bucket_contents, open_yn, recommend_yn, certi_cnt, scrap_cnt, lookup_cnt, modify_date
          from mbp_bucket
         where bucket_id = #{bucketId}
    </select>

    <select id="findThumbnailByBucketId" resultType="Thumbnail">
        select thumbnail_id, thumbnail_filename, thumbnail_savename, bucket_id
          from mbp_thumbnail
         where bucket_id = #{bucketId}
    </select>

    <select id="findTagByBucketId" resultType="Tag">
        select tag_id, bucket_id
          from mbp_tag
         where bucket_id = #{bucketId}
    </select>

    <select id="findTagNameById" resultType="Tag">
        select tag_id, tag_name
          from mbp_tagmanage
         where tag_id = #{tagId}
    </select>

    <select id="findAllTag" resultType="Tag">
        select tag_id, tag_name
          from mbp_tagmanage
    </select>

    <select id="getTotalBucketCount" resultType="int">
        select count(*)
          from mbp_bucket
    </select>

    <select id="findAllBucket" resultType="com.mybucketpet.controller.admin.dto.BucketSearchResult">
        SELECT rnum, bucket_id, bucket_title, certi_cnt, scrap_cnt, lookup_cnt, modify_date, open_yn, recommend_yn
          FROM (
            SELECT @rownum:=@rownum+1 rnum, bk.*
              FROM (
                SELECT bk.bucket_id, bk.bucket_title, bk.certi_cnt, bk.scrap_cnt, bk.lookup_cnt,
                       bk.modify_date, bk.open_yn, bk.recommend_yn, t.tag_id
                  FROM mbp_bucket bk
                  JOIN mbp_tag t
                    ON bk.bucket_id = t.bucket_id
              <where>
                  <if test="bs.openYn != null and bs.openYn != ''">
                      and bk.open_yn = #{bs.openYn}
                  </if>
                  <if test="bs.recommendYn != null and bs.recommendYn != ''">
                      and bk.recommend_yn = #{bs.recommendYn}
                  </if>
                  <if test="keywordType != null and keywordType != '' and keywordType.equalsIgnoreCase('T')">
                      and bk.bucket_title like concat('%',#{keywordText},'%')
                  </if>
                  <if test="tl != null and tl.size != 0">
                    and t.tag_id IN
                    <foreach collection="tl" item="tag" separator="," open="(" close=")">
                        #{tag.tagId}
                    </foreach>
                  </if>
              </where>
                   GROUP BY bk.bucket_id
                   ORDER BY bk.modify_date
                ) bk, (SELECT @ROWNUM := 0) R
            ) list
        WHERE RNUM &gt; (#{page.pageCriteria.pageNum}-1) * #{page.pageCriteria.amount}
          AND RNUM &lt;= #{page.pageCriteria.pageNum} * #{page.pageCriteria.amount}
          ORDER BY RNUM DESC;
    </select>

    <delete id="deleteBucket">
        DELETE FROM mbp_bucket
              WHERE bucket_id = #{bucketId}
    </delete>

    <delete id="deleteThumbnail">
        DELETE FROM mbp_thumbnail
              WHERE bucket_id = #{bucketId}
    </delete>

    <delete id="deleteTag">
        DELETE FROM mbp_tag
              WHERE bucket_id = #{bucketId}
    </delete>

    <update id="updateBucketRecommend">
        UPDATE mbp_bucket
           SET recommend_yn = #{recommendYn}
         WHERE bucket_id = #{bucketId}
    </update>

    <update id="updateBucket">
        UPDATE mbp_bucket
           SET bucket_title    = #{bu.bucketTitle},
               bucket_contents = #{bu.bucketContents},
               open_yn = #{bu.openYn},
               recommend_yn = #{bu.recommendYn},
               modify_date = current_date
        WHERE bucket_id = #{bucketId}
    </update>

    <update id="updateThumbnail">
        UPDATE mbp_thumbnail
           SET thumbnail_filename = #{thumbnail.thumbnailFilename},
               thumbnail_savename = #{thumbnail.thumbnailSavename}
         WHERE bucket_id = #{bucketId}
    </update>

    <delete id="deleteTagList">
        DELETE FROM mbp_tag
        WHERE tag_id IN (
            <foreach collection="deleteTag" item="deleteTag" separator=",">
                #{deleteTag.tagId}
            </foreach>
        )
          AND bucket_id = #{bucketId}
    </delete>
</mapper>