<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/common_head :: common_header(~{::title},~{::link},~{::script})}">
  <meta charset="UTF-8">
  <title th:text="${#messages.msg('join.label')}">회원가입</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/joinMember.css}">
  <script type="text/javascript" th:src="@{/js/join.js}"></script>
</head>
<body>
<header>
  <img th:src="@{/img/logo.svg}" class="login-header-logo">
</header>

<section>
  <p class="join-text" th:text="${#messages.msg('join.label')}">회원가입</p>

  <form th:action th:object="${joinForm}" method="post">
    <label class="join-label" th:text="${#messages.msg('email.label')}">이메일</label>
    <div>
      <input type="text" th:field="*{joinEmailPrefix}" class="join-email" placeholder="이메일">
      <span class="join-separator"> @ </span>
      <div class="joinMailSelfWrapper" style="display: none;">
        <input type="text" th:field="*{joinEmailSuffixSelf}" class="join-email" placeholder="입력해주세요."
               oninput="showClearBtn()">
        <button class="email-clear-btn" style="display: none;" onclick="clickClearBtnEvent()"></button>
      </div>
      <select class="join-email" th:field="*{joinEmailSuffix}" onchange="emailOptionSelectEvent(this)">
        <option value="" th:text="${#messages.msg('select')}">선택해주세요.</option>
        <option th:value="naver.com">naver.com</option>
        <option th:value="hanmail.net">hanmail.net</option>
        <option th:value="daum.net">daum.net</option>
        <option th:value="gmail.com">gmail.com</option>
        <option th:value="outlook.com">outlook.com</option>
        <option th:value="_self" th:text="${#messages.msg('self.input')}">직접입력</option>
      </select>
    </div>
    <p class="join-explication" id="email-exp" style="margin-bottom: 20px;"
       th:text="${#messages.msg('email.write')}">아이디로 사용할 이메일을 입력해주세요.</p>
    <p class="join-explication" id="email-fail" th:text="${#messages.msg('typeMismatch.member.joinMail')}"
       style="margin-bottom: 20px; display: none;">이메일 형식 오류</p>
    <p class="join-explication" id="email-success" th:text="${#messages.msg('success.authentication')}"
       style="margin-bottom: 20px; display: none;">이메일 인증 성공</p>
    <button type="button" id="email-auth-btn" class="common-btn join-btn-disabled" onclick="authMailSend()"
            style="margin-bottom: 40px;" disabled th:text="${#messages.msg('email.authentication')}">이메일 인증</button>

    <div id="mail-auth-wrapper" style="display: none;">
      <label class="join-label" th:text="${#messages.msg('auth.label')}">인증번호</label>
      <input type="text" th:field="*{authCode}" id="mail-auth-input" class="join-input"
             placeholder="인증번호를 입력하세요." oninput="initStyle()">
      <button id="join-auth-btn" type="button" onclick="checkAuthCode()" disabled
              th:text="${#messages.msg('auth')}">인증</button>
      <p class="join-explication" id="auth-non-same" style="display: none;"
         th:text="${#messages.msg('fail.authentication')}">올바른 인증 코드가 아닙니다</p>
      <p class="join-explication">
        <span class="mail-auth-txt" th:text="${#messages.msg('non.recive.authcode')}">인증번호를 받지 못했나요?</span>
        <a class="resend-auth-code" onclick="authMailSend()" th:text="${#messages.msg('resend.authcode')}">인증번호 재전송</a>
      </p>
    </div>

    <label class="join-label" th:text="${#messages.msg('password.label')}">비밀번호</label>
    <input type="password" th:field="*{joinPassword}" class="join-input" placeholder="비밀번호">
    <p class="join-explication" th:text="${#messages.msg('password.write')}">
      영문, 숫자를 포함한 8자 이상, 20자 이하의 비밀번호를 입력해주세요.</p>

    <label class="join-label" th:text="${#messages.msg('password.check.label')}">비밀번호 확인</label>
    <input type="password" th:field="*{joinPasswordCheck}" class="join-input" placeholder="비밀번호 확인">
    <p class="join-explication" th:text="${#messages.msg('password.check.write')}">비밀번호를 한 번 더 입력해주세요.</p>

    <label class="join-label" th:text="${#messages.msg('nickname.label')}">닉네임</label>
    <input type="text" th:field="*{joinNickname}" class="join-input" placeholder="닉네임">
    <p class="join-explication" th:text="${#messages.msg('nickname.write')}">닉네임 입력해주세요.(2~15자)</p>

    <p class="agree-to-terms-text" th:text="${#messages.msg('agree.terms.label')}">약관동의</p>
    <p class="join-explication" style="margin-bottom: 21px;"
       th:text="${#messages.msg('agree.terms.write')}">필수 동의 항목은 전문보기에서 상세 내용 확인 후 동의해주시길 바랍니다.</p>

    <div class="all-agree-box">
      <input type="checkbox" id="allCheck" name="allCheck" class="form-check-input">
      <label for="allCheck" class="all-check-label">
        <span th:text="${#messages.msg('all.agree.label')}">전체동의</span>
      </label>
    </div>

    <div class="join-check-box">
      <input type="checkbox" th:field="*{termsUse}" id="termsUse" class="form-check-input">
      <label for="termsUse" class="join-check-label" >
        <span th:text="${#messages.msg('use.terms.label')}">이용약관</span>
        <span class="required-check" th:text="${#messages.msg('required')}">(필수)</span>
        <span class="terms-read" th:text="${#messages.msg('read.terms.label')}">전문보기</span>
      </label>
    </div>

    <div class="join-check-box">
      <input type="checkbox" th:field="*{privacyUse}" id="privacyUse" class="form-check-input">
      <label for="privacyUse" class="join-check-label">
        <span th:text="${#messages.msg('agree.privacy.label')}">개인정보수집 및 이용동의</span>
        <span class="required-check" th:text="${#messages.msg('required')}">(필수)</span>
        <span class="terms-read" th:text="${#messages.msg('read.terms.label')}">전문보기</span>
      </label>
    </div>

    <div class="join-check-box">
      <input type="checkbox" th:field="*{marketingUse}" id="marketingUse" class="form-check-input">
      <label for="marketingUse" class="join-check-label">
        <span th:text="${#messages.msg('agree.marketing.label')}">개인정보 마케팅 활용 동의</span>
        <span class="non-required-check" th:text="${#messages.msg('non.required')}">(선택)</span>
        <span class="terms-read" th:text="${#messages.msg('read.terms.label')}">전문보기</span>
      </label>
    </div>

    <input type="hidden" th:field="*{joinPath}">

    <button type="submit" onclick="disabledChange()" id="join-exec-btn" class="common-btn join-btn-disabled"
            style="margin-top: 27px; margin-bottom: 20px;" disabled
            th:text="${#messages.msg('join.btn')}">회원 가입</button>
    <div style="margin-bottom: 160px;">
      <span class="join-already-txt" th:text="${#messages.msg('already.id.question')}">이미 아이디가 있으신가요?</span>
      <a id="gotoLogin" th:href="@{/templates/login}" th:text="${#messages.msg('goto.login')}">로그인 바로가기</a>
    </div>
  </form>
</section>
</body>
</html>