html, body {
    height: 100%;
}
header {
    height: 49px !important;
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: 200px auto;
    align-items: center;
}
.admin-logo-wrapper {
    width: 200px;
    height: 100%;
    border-right: 1px solid #DEE2E5;
    text-align: center;
}
.admin-logo-wrapper img {
    position: relative;
    top: 11px;
    width: 70px;
    height: 25px;
}
.admin-header-wrapper {
    width: 1280px;
    margin: auto;
    color: #343A40;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.16px;
}
.admin-nav {
    display: inline-block;
    width: 200px;
    height: 100%;
    color: #858E96;
    border-right: 1px solid #DEE2E5;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
}
.admin-side-menu li {
    height: 40px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 24px auto 20px;
    grid-gap: 10px;
    padding-left: 8px;
    padding-right: 14px;
    cursor: pointer;
}
.admin-side-menu > li.active {
    background: #486FFA;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
}
.admin-side-menu > li.active img {
    filter: brightness(0) invert(1);
}
.admin-side-menu > li:hover img {
    filter: brightness(0) invert(1);
}
.admin-side-menu > li:hover {
    background: #486FFA;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
}
.admin-side-menu-sub {
    display: none;
}
.admin-side-menu-sub li {
    grid-template-columns: auto;
    padding-left: 42px;
    cursor: pointer;
}
.admin-side-menu-sub li.active {
    color: #486FFA;
}
.admin-side-menu-sub li:hover {
    color: #486FFA;
}