section {
    display: inline-block;
    width: 1280px;
    position: absolute;
    left: 50%;
    margin-left: -540px;
}
#bucket-condition {
    border: 1px solid #DEE2E5;
    margin-top: 30px;
    background: #FFF;
}
#bucket-condition-wrapper {
    display: inline-grid;
    width: 100%;
    grid-auto-flow: dense;
    grid-template-columns: 220px 220px auto;
    border-bottom: 1px solid #DEE2E5;
}
.condition-wrapper {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 17px;
}
.condition-small-btn {
    width: 51px;
}
.condition-normal-btn {
    width: 61px;
}
.condition-small-btn, .condition-normal-btn {
    height: 30px;
    padding: 8px 14px;
    border-radius: 4px;
    border: 1px solid #DEE2E5;
    background: #F8F9FA;
    color: #ADB5BD;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.12px;
    cursor: pointer;
    margin-right: 8px;
}
.condition-small-btn.active, .condition-normal-btn.active,
.condition-small-btn:hover, .condition-normal-btn:hover {
    border-radius: 4px;
    border: 1px solid #486FFA;
    background: #FFF;
    color: #486FFA;
}
.condition-wrapper p {
    margin-bottom: 6px;
    color: #495057;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.12px;
}
.condition-wrapper select {
    width: 200px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #DEE2E5;
    background: #FFF;
    padding: 6px 14px;
    color: #ADB5BD;
    font-size: 12px;
    letter-spacing: -0.12px;
}
.condition-wrapper input[type=text] {
    width: 522px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #DEE2E5;
    background: #FFF;
    padding: 6px 14px;
    font-size: 12px;
    letter-spacing: -0.12px;
}
.condition-wrapper input::placeholder {
    color: #ADB5BD;
    font-size: 12px;
    letter-spacing: -0.12px;
}
#condition-keyword {
    margin-right: 10px;
}
#bucket-condition-btn-wrapper {
    display: inline-block;
    width: 100%;
    height: 56px;
    text-align: center;
    padding-top: 12px;
}
#bucket-condition-btn-wrapper #reset-btn {
    color: #495057;
    background: #FFF;
    border: 1px solid #DEE2E5;
}
#bucket-condition-btn-wrapper #search-btn {
    background: #486FFA;
    color: #FFF;
}
#bucket-condition-btn-wrapper #reset-btn,
#bucket-condition-btn-wrapper #search-btn {
    width: 126px;
    height: 32px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
    cursor: pointer;
}

#bucket-list {
    border: 1px solid #DEE2E5;
    margin: 40px 0px;
    background: #FFF;
}
#bucket-list-wrapper {
    padding: 40px 21px;
}
#bucket-list-btn-wrapper #delete-btn {
    width: 60px;
    border: 1px solid #CED4DA;
    background: #FFF;
    color: #495057;
    margin-right: 10px;
}
#bucket-list-btn-wrapper #recomnd-add-btn {
    width: 122px;
    background: #34CC99;
    color: #FFF;
}
#bucket-list-btn-wrapper #add-btn {
    width: 82px;
    background: #486FFA;
    color: #FFF;
    float: right;
}
#bucket-list-btn-wrapper #delete-btn,
#bucket-list-btn-wrapper #recomnd-add-btn,
#bucket-list-btn-wrapper #add-btn {
    height: 32px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
    cursor: pointer;
}
#bucket-list-tbl {
    width: 100%;
    height: 817px;
    margin-top: 20px;
    border-collapse: collapse;
}
#bucket-list-tbl th {
    border-top: 1px solid #DEE2E5;
    border-bottom: 1px solid #DEE2E5;
    background: #F1F3F5;
    padding: 8px 0px;
}
#bucket-list-tbl td {
    padding: 8px 0px;
    border-top: 1px solid #DEE2E5;
    background: #FFF;
    overflow: hidden;
    color: #343A40;
    text-overflow: ellipsis;
    whitespace: nowrap;
    font-size: 14px;
    letter-spacing: -0.14px;
}
#bucket-list-tbl td:not(:nth-child(3)) {
    text-align: center;
}
#bucket-list-tbl td:nth-child(3) {
    padding-left: 10px;
}
#bucket-list-tbl tr button {
    width: 43px;
    height: 22px;
    border-radius: 4px;
    border: 1px solid #CED4DA;
    background: #F8F9FA;
    color: #ADB5BD;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.13px;
    cursor: pointer;
}
#bucket-list-tbl tr button.active {
    border: 1px solid #486FFA;
    background: rgba(72, 111, 250, 0.10);
    color: #486FFA;
}
#empty-list {
    height: 100%;
}
#paging-wrapper {
    text-align: center;
    margin-top: 40px;
}
#paging-wrapper ul {
    display: inline-block;
    padding: 0px;
}
#paging-wrapper .pagination-btn {
    display: inline-block;
    width: 28px;
    height: 28px;
    color: #ADB5BD;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.12px;
    cursor: pointer;
}
#paging-wrapper .pagination-btn a {
    display: inline-block;
    width: 28px;
    height: 28px;
    padding: 6px 10px;
}
#paging-wrapper .pagination-btn a.active,
#paging-wrapper .pagination-btn a:hover {
    border-radius: 300px;
    background: #486FFA;
    color: #FFF;
}