*{
    Margin:0px;
    Padding:0px;
    List-style:none;
    Text-decoration:none;
    Box-sizing:border-box;
    font-family: Pretendard;
}
html {
    width: 100%;
}
body {
    width: 100%;
}
header {
    width: 100%;
    height: 65px;
    background-color: #FFFFFF;
    text-align: left;
    border-bottom: 1px solid #DEE2E5;
}
footer {
    width: 100%;
    background: #343A40;
}
button {
    border-width: 0px;
}
ul {
    list-style-type: none;
}
.header-logo {
    width: 100px;
    cursor: pointer;
}
#menu_nav {
    position: relative;
    width: 1340px;
    height: 100%;
    margin: auto;
}
#logo-wrapper {
    display: inline-block;
    margin-right: 40px;
    position: relative;
    top: 14px;
}
#menu_nav ul {
    display: inline-block;
    margin-right: 215px;
    position: relative;
}
#menu_nav ul li {
    display: inline;
    margin-right: 40px;
    cursor: pointer;
    color: #343A40;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.16px;
}
#menu_nav ul li:hover {
    color: #486FFA !important;
    font-weight: 700 !important;
    border-bottom: 3px solid #486FFA;
}
.active-menu {
    color: #486FFA !important;
    font-weight: 700 !important;
    border-bottom: 3px solid #486FFA;
}
#menu_nav ul li:last-child {
    margin-right: 0px;
}
#search-wrapper {
    display: inline-block;
    position: relative;
    margin-right: 16px;
}
#search-input {
    width: 260px;
    height: 36px;
    border-radius: 100px;
    border: 1px solid #DEE2E5;
    background: #FFF;
    padding-left: 50px;
}
#search-input + img {
    position: absolute;
    left: 20px;
    top: 6px;
    cursor: pointer;
}
#bookmark-wrapper {
    position: relative;
    top: 11px;
    display: inline-block;
    margin-right: 20px;
}
#bookmark-wrapper img {
    cursor: pointer;
}
#alarm-wrapper {
    position: relative;
    display: inline-block;
    top: 11px;
    margin-right: 21px;
}
#alarm-wrapper #alarmCount {
    width: 23px;
    height: 12px;
    border-radius: 100px;
    background: #486FFA;
    color: #FFF;
    font-size: 8px;
    font-weight: 700;
    letter-spacing: -0.08px;
    position: absolute;
    left: 8px;
    text-align: center;
}
#alarm-wrapper img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}
#profile-wrapper {
    display: inline-block;
    position: relative;
    top: 14px;
}
#profile-wrapper img {
    cursor: pointer;
}
#profile-wrapper img:last-child {
    position: relative;
    top: -6px;
}
#profile-img-area {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    border: 1px solid #DEE2E5;
}
#profile-nickname {
    color: #343A40;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.16px;
    position: relative;
    top: -11.5px;
}
#footer-text-wrapper {
    width: 1280px;
    height: 280px;
    text-align: left;
    margin: auto;
    padding-top: 50px;
}
#footer-text-wrapper .menu-list {
    color: #F8F9FA;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.16px;
    margin-bottom: 20px;
}
#footer-text-wrapper .menu-list li {
    margin-right: 24px;
    cursor: pointer;
    display: inline;
}
#footer-text-wrapper .menu-list li:last-child {
    margin-right: 0px;
}
#footer-text-wrapper .info-list {
    color: #ADB5BD;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    letter-spacing: -0.14px;
    margin-bottom: 6px;
}
#footer-text-wrapper .info-list li {
    margin-right: 12px;
    display: inline;
}
.form-input {
border-radius: 4px;
border: 1px solid #DEE2E5;
background: #FFF;
padding-left: 16px;
color: #343A40;
}
.form-input::placeholder {
color: #ADB5BD;
font-size: 14px;
}
.common-btn {
cursor: pointer;
}
.common-btn:hover {
opacity: 90%;
}
.field-error {
color: #E82168 !important;
font-size: 11px !important;
font-family: Pretendard !important;
font-weight: 500 !important;
text-align: left;
letter-spacing: -0.11px;
}
.field-input-error {
border-radius: 4px !important;
border: 1px solid #E82168 !important;
background: #FFF !important;
}
.blue-active-btn {
width: 360px;
height: 46px;
border-radius: 4px;
background: #486FFA;
color: #FFF;
text-align: center;
font-size: 16px;
letter-spacing: -0.16px;
}
.btn-disabled {
width: 360px;
height: 46px;
border-radius: 4px;
background: #E8ECEF;
color: #ADB5BD;
font-size: 16px;
font-weight: 500;
letter-spacing: -0.16px;
cursor: default;
opacity: 100% !important;
}
@font-face {
font-family: 'Pretendard-Regular';
src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'Pretendard';
src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: 'Pretendard-Bold';
src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
font-weight: 800;
font-style: normal;
}


