<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/common_head :: common_header(~{::title},~{::link},~{::script})}">
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    <script type="javascript" th:src="@{/js/home.js}"></script>
</head>
<body>
    <!-- 상단 메뉴 바 -->
    <div th:replace="~{common/common_header :: commonHeader}"></div>

    <div id="main-highlight">
        <p>마이버킷펫</p>
        <div>
            <span>반려동물, 반려인 모두 행복해지는</span>
            </br>
            <span>펫버킷리스트를 함께 달성하고 공유해요 : )</span>
        </div>
    </div>

    <div id="main-all-board-wrapper">
        <div id="recomnd-list-wrapper">
            <div class="main-board-header">
                <span>추천 펫버킷리스트</span>
                <span>더보기</span>
                <img>
            </div>
            <div class="main-board-body">
                <div class="board-row-wrapper">
                    <div class="recomnd-big-list">
                        <div class="recomnd-text-wrapper">
                            <p>여름엔 수박이 최고다~멍!</p>
                            <span class="small-txt">버킷달성</span> <span class="count-txt">320</span>
                            <span class="small-txt">스크랩</span> <span class="count-txt">2,100</span>
                        </div>
                    </div>
                    <div class="recomnd-normal-list">
                        <div class="recomnd-text-wrapper">
                            <p>여름엔 수박이 최고다~멍!</p>
                            <span class="small-txt">버킷달성</span> <span class="count-txt">320</span>
                            <span class="small-txt">스크랩</span> <span class="count-txt">2,100</span>
                        </div>
                    </div>
                </div>
                <div class="board-row-wrapper">
                    <div class="recomnd-small-list"></div>
                    <div class="recomnd-small-list"></div>
                    <div class="recomnd-small-list"></div>
                    <div class="recomnd-small-list"></div>
                </div>
            </div>
        </div>
        <div id="popular-list-wrapper">
            <div class="main-board-header">
                <span>인기 펫버킷리스트</span>
                <span>더보기</span>
                <img>
            </div>
            <div class="main-board-body">

            </div>
        </div>
        <div id="certify-list-wrapper">
            <div class="main-board-header">
                <span>버킷인증</span>
                <span>더보기</span>
                <img>
            </div>
            <div class="main-board-body">

            </div>
        </div>
    </div>

    <div th:replace="~{common/common_footer :: commonFooter}"></div>
</body>
</html>