<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/common_head :: common_header(~{::title},~{::link},~{::script})}">
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/passwordForm.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/joinMember.css}">
    <script type="text/javascript" th:src="@{/js/password.js}"></script>
    <script th:inline="javascript">
        // 외부 js파일인 join.js에서 spring messagesource를 활용하기 위해 선언
        const passwordErrorMsg = [[#{Pattern.passwordChangeForm.changePassword}]];
        const passwordNotSameErrorMsg = [[#{NotSame.passwordChangeForm.changePasswordCheck}]];
    </script>
</head>
<body>
<header>
  <img th:src="@{/img/logo.svg}" onclick="goLoginPage()" class="login-header-logo">
</header>

<section>
  <p class="password-phrase" th:text="${#messages.msg('password.change.label')}">비밀번호 재설정</p>

  <form th:action th:object="${passwordChangeForm}" method="post">
    <div id="email-wrapper">
        <label class="join-label" th:text="${#messages.msg('email.label')}">이메일</label>
        <div>
          <input type="text" th:field="*{joinEmailPrefix}" class="join-email" placeholder="이메일">
          <span class="join-separator"> @ </span>
          <div class="joinMailSelfWrapper" style="display: none;">
            <input type="text" class="join-email" placeholder="입력해주세요." th:field="*{joinEmailSuffixSelf}"
                   oninput="checkEmail()">
            <button type="button" class="email-clear-btn" style="display: none;" onclick="clickClearBtnEvent()"></button>
          </div>
          <select class="join-email" th:field="*{joinEmailSuffix}" onchange="emailOptionSelectEvent(this)">
            <option value="" th:text="${#messages.msg('select')}">선택해주세요.</option>
            <option th:value="naver.com">naver.com</option>
            <option th:value="hanmail.net">hanmail.net</option>
            <option th:value="daum.net">daum.net</option>
            <option th:value="gmail.com">gmail.com</option>
            <option th:value="outlook.com">outlook.com</option>
            <option th:value="_self" th:text="${#messages.msg('self.input')}">직접입력</option>
          </select>
        </div>
        <p class="join-explication" id="email-exp" style="margin-bottom: 20px;"
           th:text="${#messages.msg('joinEmail.write')}">가입한 이메일 주소를 입력</p>
        <p class="join-explication" id="email-fail" th:text="${#messages.msg('typeMismatch.member.joinMail')}"
           style="margin-bottom: 20px; display: none;">이메일 형식 오류</p>
        <p class="join-explication" id="email-success" th:text="${#messages.msg('success.authentication')}"
           style="margin-bottom: 20px; display: none;">이메일 인증 성공</p>
        <button type="button" id="email-auth-btn" class="common-btn join-btn-disabled" onclick="authMailSend()"
                style="margin-bottom: 40px;" disabled th:text="${#messages.msg('email.authentication')}">이메일 인증</button>
    </div>

    <div id="mail-auth-wrapper" style="display: none;">
        <label class="join-label" th:text="${#messages.msg('auth.label')}">인증번호</label>
        <input type="text" id="mail-auth-input" class="join-input" th:field="*{authCode}"
             placeholder="인증번호를 입력하세요." oninput="initStyle()">
        <button id="join-auth-btn" type="button" onclick="checkAuthCode()" disabled
              th:text="${#messages.msg('auth')}">인증</button>
        <p class="join-explication" id="auth-non-same" style="display: none;"
         th:text="${#messages.msg('fail.authentication')}">올바른 인증 코드가 아닙니다</p>
        <p class="join-explication">
        <span class="mail-auth-txt" th:text="${#messages.msg('non.recive.authcode')}">인증번호를 받지 못했나요?</span>
        <a class="resend-auth-code" onclick="authMailSend()" th:text="${#messages.msg('resend.authcode')}">인증번호 재전송</a>
        </p>
    </div>

    <div id="password-wrapper">
        <label class="join-label" th:text="${#messages.msg('password.label')}">비밀번호</label>
        <p class="field-error" id="password-msg" th:errors="*{changePassword}">비밀번호 오류</p>
        <p class="field-error" id="js-password-msg" style="display: none;">비밀번호 검증메시지 표시</p>
        <input type="password" th:errorclass="field-input-error" th:field="*{changePassword}"
               class="join-input" placeholder="비밀번호" onchange="passwordValidator()">
        <p class="join-explication" th:text="${#messages.msg('password.write')}">
          영문, 숫자를 포함한 8자 이상, 20자 이하의 비밀번호를 입력해주세요.</p>

        <label class="join-label" th:text="${#messages.msg('password.check.label')}">비밀번호 확인</label>
        <div th:if="${#fields.hasGlobalErrors()}">
          <p class="field-error" id="password-check-msg" th:each="err: ${#fields.globalErrors()}"
             th:text="${err}">비밀번호 확인 오류메시지 표시</p>
        </div>
        <p class="field-error" id="js-password-check-msg" style="display: none;">비밀번호 확인 검증메시지 표시</p>
        <p class="field-error" id="password-check-pattern-msg" th:errors="*{changePasswordCheck}">비밀번호확인 패턴 오류</p>
        <input type="password" th:errorclass="field-input-error" th:field="*{changePasswordCheck}"
               class="join-input" onchange="passwordCheckValidator()" placeholder="비밀번호 확인">
        <p class="join-explication" th:text="${#messages.msg('password.check.write')}">비밀번호를 한 번 더 입력해주세요.</p>

        <button type="submit" onclick="disabledChange()" id="join-exec-btn" class="common-btn btn-disabled"
                style="margin-top: 27px; margin-bottom: 20px;" disabled
                th:text="${#messages.msg('password.change.label')}">비밀번호 재설정</button>
    </div>
  </form>
</section>
</body>
</html>