<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/common_head :: common_header(~{::title},~{::link},~{::script})}">
  <meta charset="UTF-8">
  <title>비밀번호 재설정</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/passwordForm.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/joinMember.css}">
  <script type="text/javascript">
    function goLoginPage() {
      window.location.href=contextPath + "/members/login";
    }
  </script>
</head>
<body>
  <header>
    <img th:src="@{/img/logo.svg}" onclick="goLoginPage()" class="login-header-logo">
  </header>
  <section>
    <p class="password-phrase" th:text="${#messages.msg('password.change.label')}">비밀번호 재설정</p>

    <div>
      <p>비밀번호 재설정이 완료되었습니다.</p>
      <p>새로운 비밀번호로 로그인해주시기 바랍니다.</p>
    </div>

    <button type="submit" onclick="goLoginPage()" class="common-btn blue-active-btn"
            style="margin-top: 27px; margin-bottom: 20px;"
            th:text="${#messages.msg('login')}">로그인</button>
  </section>
</body>
</html>