<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybucketpet.repository.member.MemberMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="memberNo">
        insert into mbp_member(member_id,member_pw,member_nickname,marketing_yn,suspend_yn,join_path)
        values (#{memberId}, #{memberPw}, #{memberNickname}, #{marketingYN}, #{suspendYN}, #{joinPath})
    </insert>

    <select id="findById" resultType="Member">
        select member_no, member_id, member_pw, member_nickname, marketing_yn, suspend_yn, join_date, last_access_date, join_path
          from mbp_member
         where member_Id = #{memberId}
    </select>
</mapper>