<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/common_head :: common_header(~{::title},~{::link},~{::script})}">
    <meta charset="UTF-8">
    <title>버킷 수정</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminHeaderSideBar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bucketManageUpdateForm.css}">
    <link th:href="@{/summernote/summernote-lite.css}" rel="stylesheet">
    <script th:src="@{/summernote/summernote-lite.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/adminMenu.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/adminBucketUpdate.js}"></script>
    <script th:inline="javascript">
        const saveFilename = [[${bucketInfo.thumbnailSavename}]];
        const bucketContents = [[${bucketInfo.bucketContents}]];
        const bucketTagList = [[${bucketInfo.tagList}]];
        // 공개 여부 값
        let openYnValue = [[${bucketInfo.openYn}]];
        // 추천 여부 값
        let recommendYnValue = [[${bucketInfo.recommendYn}]];
    </script>
</head>
<body>
<!-- 관리자 헤더 및 사이드 메뉴 -->
<div th:replace="~{admin/admin_header :: adminHeader}"></div>
<div th:replace="~{admin/admin_sidemenu :: adminSideMenu}"></div>

<section>
    <article id="bucket-update-wrapper">
        <table th:attr="bid=${bucketInfo.bucketId}">
            <colgroup>
                <col style="width: 160px;">
                <col>
            </colgroup>
            <tr>
                <td>
                    <span class="bucket-content-txt" id="content-title">제목</span>
                </td>
                <td>
                    <input type="text" placeholder="제목 입력" id="bucketName" th:value="${bucketInfo.bucketTitle}">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="bucket-content-txt">태그</span>
                </td>
                <td>
                    <div class="content-inner-wrapper">
                        <div id="bucketTag">
                            <div id="bucketTag-box">
                                <p>태그 선택</p> <img th:src="@{/img/ic_angle-small-down.svg}">
                            </div>
                            <ul id="bucketTag-listUL">
                            </ul>
                        </div>
                    </div>
                    <span id="select-tag-title">선택 태그</span>
                    <span id="select-tag-content"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="bucket-content-txt">공개</span>
                </td>
                <td>
                    <button type="button" value="y" class="openYn bucket-manage-btn" onclick="activeSelectButton(this);"
                            th:classappend="${bucketInfo.openYn == 'y' ? 'active' : ''}">공개</button>
                    <button type="button" value="n" class="openYn bucket-manage-btn" onclick="activeSelectButton(this);"
                            th:classappend="${bucketInfo.openYn == 'n' ? 'active' : ''}">비공개</button>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="bucket-content-txt">추천</span>
                </td>
                <td>
                    <button type="button" value="y" class="recommendYn bucket-manage-btn" onclick="activeSelectButton(this)"
                            th:classappend="${bucketInfo.recommendYn == 'y' ? 'active' : ''}">추천</button>
                    <button type="button" value="n" class="recommendYn bucket-manage-btn" onclick="activeSelectButton(this)"
                            th:classappend="${bucketInfo.recommendYn == 'n' ? 'active' : ''}">비추천</button>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="bucket-content-txt">썸네일</span>
                </td>
                <td>
                    <button type="button" id="file-append-wrapper" onclick="clickFileBtn()">파일첨부</button>
                    <div id="thumbnail-img-wrapper">
                        <img id="thumbnail-img">
                    </div>
                    <input type="file" style="display: none;" id="bucketImageFile" onchange="uploadImageFile(this)">
                    <div class="file-append-name-wrapper">
                        <span id="file-append-name" th:text="${bucketInfo.thumbnailFilename}"></span>
                        <img class="file-remove-btn" onclick="initFileInput();" th:src="@{/img/ic_close.svg}"/>
                    </div>
                </td>
            </tr>
        </table>
    </article>

    <article id="bucket-editor-wrapper">
        <div id="summernote"></div>
    </article>

    <div class="btn-wrapper">
        <button type="button" value="y" class="bucket-cancel-btn" onclick="cancelUpdate();">취소</button>
        <button type="button" value="n" class="bucket-update-btn" onclick="updateBucket();">수정완료</button>
    </div>
</section>
</body>
</html>